
*{ 
    margin:0;
    
}

/* 
first section */
.oneandtwo{ 
    background-color: #1F2937;
}

.navbar{ 
    display:flex;
    justify-content: space-between;
}
.headerlinks{ 
display:flex;

}

li{ 
    list-style: none;
    margin:10px;
    font-size:18px;
    color:#e4e7eb;
}
.headerlogo{ 
    margin:5px;
    font-size:30px;
    font-weight:900;
    color:#f9faf8
}




